body{
	margin: 0;
	padding: 0;
	background: url(https://cleanshot-cloud-fra.s3.eu-central-1.amazonaws.com/media/23102/oNZEcFDzqikc9iFGJOimG31CLlBWYGsgz584Xbbe.jpeg?X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEBEaDGV1LWNlbnRyYWwtMSJIMEYCIQCogCeQ5tOYusRclwNhyr5bO%2FVs14zlhOCMQgxyiI%2FxQAIhAINbS4WXTObTb9AxfDx6rwLGlRXS%2FdC8q7gp51AFAwsdKqECCEoQABoMOTE5NTE0NDkxNjc0IgwibueYGOv3GoXq6rUq%2FgFVegzamCF87RJMHPzRioXZfdpRnVfBpO8sDyh9ez4AIdr4fuyQaQcjGxn5itEnnLStdt918qdvnZ5rQGIu1Od8opfqsxi8LoIL9IAdz%2FsmXHsSBR6OjpZ505uZZZPcrahd%2FTY07ZJeD0PsPybO1X1ZoJTDu5FFLsEbBbw%2FWWp9ht8Y5kmTl%2BWK1qDL0t9ByfSo1otGjfwZK3kdCz05txh2eEzoeZdy8bzQi9DfEFWcfv0QL18yDzfgsyZBHyAwbyftVJcbxTRz%2BdzTT%2BSaxlcGTclAT1%2F%2FuIWmLsDPcx%2FA3v6x9RR7JA%2FR1KeK6IelUh%2FfvOyUDUK%2B%2BzdfL4ghpzCnyOWPBjqZAX4fSbrw8HAYJrcQtXX2q99rOfHJsYqY3n9zkoDQSAVCmmc7qDObHfuVwcTqWlHTC5uAhx117tuCBpQKn7dPAljiu2ROTcuxq3kCLqqL4J7278t8E7%2BFKvMNASFR%2FPxAsIZzqm4KGFyiDetNX0N%2FLLBiyuQ6HiL7dBnUNATCiCY4hHTi%2B1VZqgFFPlbW%2BU6bCB3ZHdNqSWQS9A%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA5MF2VVMNKZTG4UFS%2F20220201%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Date=20220201T173455Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Signature=b98f530e84555eb2ef8fea9334fe3df72dd9cdb2219814f7384f8520fb470c09) 50% 50% no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}


.container{
	margin-top: 200px;
}

h1{
	text-align: center;
	color: white;
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
}

p{
	text-align: center;
	color: white;
	font-weight: lighter;
	letter-spacing: 10px;
	font-size: 20px;
}


@media(max-width:768px){
	h1{
		font-size: 25px;
	}
	P{
		font-size: 10px;
		letter-spacing: 5px;
	}
}
