body{
	margin: 0;
	padding: 0;
	background: url(https://i.postimg.cc/Y9yksvXt/Octoptimist.jpg) 50% 50% no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}


.container{
	margin-top: 200px;
}

h1{
	text-align: center;
	color: white;
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
}

p{
	text-align: center;
	color: white;
	font-weight: lighter;
	letter-spacing: 10px;
	font-size: 20px;
}


@media(max-width:768px){
	h1{
		font-size: 25px;
	}
	P{
		font-size: 10px;
		letter-spacing: 5px;
	}
}
