html,body {
  /* Extra Styles */
  background: #fff;
  color: green;
  font-family: avenir, 'segoe ui', sans-serif;
}

@keyframes move {
	0% { 
		background-position: 0 60%, 0 50%;
	}
	100% { 
	  background-position: 0 60%, 100% 50%;
	}
}

.container {
  background-color: #263645;
	background-image: url('http://bootscootin2pdx.com/network.svg'), radial-gradient(200px 500px at center, #ff8300 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0));
	background-size: 125%, 50% 100%;
  background-position: 0 60%, 0 100%;
  animation: move 5s linear infinite;
  
  /* Extra Styles */
  height: 300px;
  /*box-shadow: inset 0 0 25px rgba(0,0,0,.5);*/
  border: 2px solid #263645;
  border-right: 0;
  border-left: 0;
}


/* Extra Styles */
h1 {
  text-align: center;
  font-weight: 600;
  font-size: 8em;
}

p {
  text-align: center;
  font-size: 4em;
}

a {
  color: #ff8300;
}
